//// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//
//// Variables
//@import 'variables';
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "../scss/vertical-layout-light/style";
@import "jquery-toast-plugin/src/jquery.toast.css";
@import "sweetalert2/src/sweetalert2";

$text-ellipsis: (1, 2, 3, 4, 5);

@each $value in $text-ellipsis {
    .text-ellipsis-#{$value} {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $value;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}

$vertical-alignments: (top, middle, bottom);

@each $value in $vertical-alignments {
    .valign-#{$value} {
        vertical-align: $value !important;
    }
}
